.home {
  text-align: center;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home h1 {
  font-size: 60px;
  margin-top: 500px;
  margin-bottom: 100px;
}

.home h2 {
  font-size: 30px;
  margin: 20px;
}

.home p {
  font-size: 20px;
  margin: 20px;
  margin-left: 200px;
  margin-right: 200px;
  white-space: pre-line;
}

.home Button {
  margin: 20px;
}

.links-container {
  display: flex;
  gap: 1rem; /* Space between the links */
  align-items: center; /* Align items vertically */
  justify-content: center; /* Center them horizontally (optional) */
}

.links-container a {
  margin-right: 10px; /* Add space to the right of each link */
}

.links-container a:last-child {
  margin-right: 0; /* Remove margin from the last link */
}

