.navBar {
background-color:rgba(20, 46, 91, 0.626);
background: url('../public/background.jpg') no-repeat;
/* border-color: rgb(255, 0, 0); */
border-bottom-color: black;
border-left: 0px;
border-right: 0px;
border-top: 0px;
border-style: solid;
/* background-color: rgb(204, 206, 208); */
background-color: rgb(237 232 245);
height: 60px;
padding: 0px 10px;
display: flex;
align-items: center;
}

.navBar a {
    text-decoration: none;
    /* color: white; */
    color: white;
    padding: 0px 10px;
    font-size: 20px;
}

.logoLink {
    flex-grow: 1;
}